{
    "branches": [
      "main"
    ],
    "repositoryUrl": "https://github.com/FlowRage/core.git",
    "plugins": [
      [
        "@semantic-release/commit-analyzer",
        {
          "preset": "@pragmatics/preset",
          "parserOpts": {
            "noteKeywords": [
              "BREAKING CHANGE",
              "BREAKING CHANGES"
            ]
          }
        }
      ],
      [
        "@semantic-release/release-notes-generator",
        {
          "preset": "@pragmatics/preset",
          "parserOpts": {
            "noteKeywords": [
              "BREAKING CHANGE",
              "BREAKING CHANGES",
              "BREAKING"
            ]
          },
          "writerOpts": {
            "commitsSort": [
              "subject",
              "scope"
            ]
          }
        }
      ],
      "@semantic-release/github",
      "@semantic-release/changelog",
      "@semantic-release/exec",
      "@semantic-release/npm",
      [
        "@semantic-release/git",
        {
          "assets": [
            "package.json",
            "CHANGELOG.md"
          ],
          "message": "chore(release): <%= nextRelease.version %> - <%= new Date().toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric' }) %> [skip-ci]"
        }
      ]
    ]
  }